.search-bar {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  max-width: 500px;

  padding: 12px 16px;

  border-radius: 10px;
  border: 1px solid #ccc;

  font-size: 16px;

  outline: none;
}

.search-bar input:focus {
  border-color: #8b0000;
}